<head>

  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.1.3.js"></script>
</head>

<div *ngIf="user" class="topbar js-topbar">

  <div class="global-nav" data-section-term="top_nav">
    <div class="global-nav-inner">
      <div class="container">


        <div class="pushstate-spinner"></div>


        <div role="navigation" style="display: inline-block;">
          <ul class="nav js-global-actions" id="global-actions">
            <li id="global-nav-home" class="home active" data-global-action="home">
              <a class="js-nav js-tooltip js-dynamic-tooltip global-dm-nav" data-placement="bottom" (click)="home();"
                 data-component-context="home_nav" data-nav="home">
                <span class="text" aria-hidden="true">Home</span>
                <span class="u-hiddenVisually a11y-inactive-page-text">Home</span>
                <span class="u-hiddenVisually a11y-active-page-text">Home, current page.</span>
                <span class="u-hiddenVisually hidden-new-items-text">New Tweets available.</span>
              </a>
            </li>

            <!--THESE ARE MADE HIDDEN-->


            <li hidden class="people notifications" data-global-action="connect">
              <a class="js-nav js-tooltip js-dynamic-tooltip global-dm-nav" data-placement="bottom"
                 (click)="notifications()"
                 data-component-context="connect_nav" data-nav="connect">
                <span class="text" aria-hidden="true">Notifications</span>
                <span class="u-hiddenVisually a11y-inactive-page-text">Notifications</span>
                <span class="u-hiddenVisually a11y-active-page-text">Notifications, current page.</span>
                <span class="count">
              <span class="count-inner">0</span>
            </span>
              </a>
            </li>
            <li hidden class="dm-nav">
              <a role="button" (click)="messages()" class="js-tooltip js-dynamic-tooltip global-dm-nav"
                 data-placement="bottom">
                <span class="text">Messages</span>
                <span class="dm-new"><span class="count-inner"></span></span>
              </a>
            </li>
            <!--**************************************-->


          </ul>
        </div>

        <div class="pull-right nav-extras">
          <div role="search">
            <form class="t1-form form-search js-search-form" action="/search" id="global-nav-search">
              <label class="visuallyhidden" for="search-query">Search query</label>

              <input #searchInput ng-model="searchQuery"
                     class="search-input" type="text" id="search-query" placeholder="Search Twitter" name="q"
                     autocomplete="off" spellcheck="false" aria-autocomplete="list" aria-expanded="false"
                     aria-owns="typeahead-dropdown-1" (keyup)="search(searchInput.value)">

              <!--<input type="text" ng-model="customPopupSelected" placeholder="Custom popup template"-->
              <!--uib-typeahead="user.name for user in {{users}} | filter:searchQuery"-->
              <!--typeahead-popup-template-url="customPopupTemplate.html" class="form-control">-->


              <!--<li *ngFor="let user of foundUsers">-->
                <!--<h1>{{user.username}}</h1>-->
              <!--</li>-->


              <span class="js-search-action">
                <button type="submit" class="nav-search" tabindex="-1">
                  <span class="visuallyhidden">Search Twitter</span>
                </button>
              </span>




              <div *ngIf="foundUsers && foundUsers.length >0" role="listbox" class="dropdown-menu typeahead" id="typeahead-dropdown-1" style="display: block;">
                <div aria-hidden="true" class="dropdown-caret">
                  <div class="caret-outer"></div>
                  <div class="caret-inner"></div>
                </div>
                <div role="presentation" class="dropdown-inner js-typeahead-results">
                  <div role="presentation" class="typeahead-recent-searches block0">
                  <h3 id="recent-searches-heading" class="typeahead-category-title recent-searches-title" style="display: none;">Recent searches</h3><button type="button" tabindex="-1" class="btn-link clear-recent-searches" style="display: none;">Clear All</button>
                  <ul role="presentation" class="typeahead-items recent-searches-list"></ul>
                </div>
                  <div role="presentation" class="typeahead-saved-searches block2">
                  <h3 id="saved-searches-heading" class="typeahead-category-title saved-searches-title" style="display: none;">Saved searches</h3>
                  <ul role="presentation" class="typeahead-items saved-searches-list"></ul>
                </div>
                  <ul role="presentation" class="typeahead-items typeahead-accounts social-context js-typeahead-accounts block4 has-results" style="">


                  <li *ngFor="let user of foundUsers" role="presentation"  class="typeahead-item typeahead-account-item js-selectable">

                    <a role="option" class="js-nav" data-ds="account" href="/{{user.username}}" id="typeahead-item-4">
                      <div class="js-selectable typeahead-in-conversation hidden">
                        <span class="Icon Icon--follower Icon--small"></span>
                        <span class="typeahead-in-conversation-text">In this conversation</span>
                      </div>
                      <img class="avatar size32" alt="" src="//pbs.twimg.com/profile_images/3464667097/6e4b0889b54f970cb7c4f2e43dba3a07_normal.jpeg">
                      <span class="typeahead-user-item-info account-group">
                        <span class="fullname">
                          {{user.name}}
                        </span>
                        <span class="UserNameBreak">&nbsp;</span>
                        <span class="username u-dir" dir="ltr">@<b>{{user.username}}</b></span>
                      </span>
                      <span class="typeahead-social-context"></span>
                    </a>
                  </li>

                </ul>
                </div>
              </div>

            </form>
          </div>

          <ul class="nav right-actions">
            <li class="me dropdown session js-session" data-global-action="t1me" id="user-dropdown">
              <a href="{{profileHref()}}" class="btn js-tooltip settings dropdown-toggle js-dropdown-toggle"
                 id="user-dropdown-toggle" title="Profile and settings" data-placement="bottom" rel="noopener"
                 role="button" aria-haspopup="true">

                <img src="{{getProfilePicture(32, 32)}}" class="Avatar Avatar--size32 size32" alt="{{user.username}}">
              </a>
              <div class="DashUserDropdown dropdown-menu dropdown-menu--rightAlign is-forceRight is-autoCentered">
                <div class="dropdown-caret">
                  <span class="caret-outer"></span>
                  <span class="caret-inner"></span>
                </div>
                <ul>


                  <li class="DashUserDropdown-userInfo" data-name="user-info">
                    <a href="/WillemToemen" class="DashUserDropdown-userInfoLink js-nav" data-nav="view_profile">
                      <b class="fullname">Wilmz</b><span class="UserBadges"></span>
                      <p class="name"><span class="username u-dir u-textTruncate" dir="ltr">@<b>WillemToemen</b></span>
                      </p>
                    </a>
                  </li>

                  <li class="dropdown-divider"></li>

                  <li class="current-user" data-name="profile">
                    <a href="/WillemToemen" class="js-nav" data-nav="view_profile">
                      <span class="DashUserDropdown-linkIcon Icon Icon--medium Icon--me"></span>Profile
                    </a>
                  </li>


                  <li data-name="lists">
                    <a class="js-nav" href="/WillemToemen/lists" data-nav="all_lists">
                      <span class="DashUserDropdown-linkIcon Icon Icon--medium Icon--list"></span>Lists
                    </a>
                  </li>


                  <li data-name="moments">
                    <a class="js-nav" href="/WillemToemen/moments" data-nav="all_moments">
                      <span class="DashUserDropdown-linkIcon Icon Icon--medium Icon--lightning"></span>Moments
                    </a>
                  </li>

                  <li class="dropdown-divider"></li>


                  <li>
                    <a href="https://ads.twitter.com/?ref=gl-tw-tw-twitter-ads" target="_blank" data-nav="ads"
                       rel="noopener">
                      <span class="DashUserDropdown-linkIcon Icon Icon--medium Icon--promotedStroked"></span>Twitter Ads
                    </a>
                  </li>


                  <li>
                    <a class="user-dropdown-analytics" href="https://analytics.twitter.com/" target="_blank"
                       data-nav="user_dropdown_analytics" rel="noopener">
                      <span class="DashUserDropdown-linkIcon Icon Icon--medium Icon--analytics"></span>Analytics
                    </a>
                  </li>


                  <li class="dropdown-divider"></li>


                  <li><a href="/settings" data-nav="settings" class="js-nav" rel="noopener">Settings and privacy</a>
                  </li>


                  <li><a href="//support.twitter.com" data-nav="help_center" rel="noopener">Help Center</a></li>


                  <li class="js-keyboard-shortcut-trigger" data-nav="shortcuts">
                    <button type="button" class="dropdown-link">Keyboard shortcuts</button>
                  </li>


                  <li class="js-signout-button" id="signout-button" data-nav="logout">
                    <button type="button" class="dropdown-link">Log out</button>
                    <form class="t1-form dropdown-link-form signout-form" id="signout-form" action="/logout"
                          method="POST">
                      <input type="hidden" value="b8241e0f3ea6b72f1ec54814a4c24d9bb5c2aae5" name="authenticity_token"
                             class="authenticity_token">
                      <input type="hidden" name="reliability_event" class="js-reliability-event">
                      <input type="hidden" name="scribe_log">
                    </form>
                  </li>


                  <li class="dropdown-divider"></li>
                  <li class="current-user nightmode-toggle" data-name="profile">
                    <a class="js-nav" data-nav="view_profile">
          <span class="DashUserDropdown-linkIcon Icon Icon--medium js-nightmode-icon
            Icon--crescent
            ">
          </span><span class="js-nightmode-label">Night mode</span>
                    </a>
                  </li>

                </ul>
              </div>

            </li>
            <li role="complementary" aria-labelledby="global-new-tweet-button" class="topbar-tweet-btn">
              <button id="global-new-tweet-button" (click)="logout()"
                      class="js-global-new-tweet js-tooltip EdgeButton EdgeButton--primary js-dynamic-tooltip"
                      data-placement="bottom" data-component-context="new_tweet_button" data-original-title="">

                <span class="text">Logout</span>
              </button>
            </li>
          </ul>
        </div>
        <div>

        </div>


      </div>
    </div>
  </div>
</div>
